html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

li {
  padding: 10px;
}

.outer-container {
	background-attachment: fixed;
  background-size: 100%;
	overflow: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.list {
  position: relative;
  border: 1px solid black;
  margin-right: 30px;
  min-width: 300px;
  width: 300px;
  height: 90vh;
  background: white;
  box-shadow: 1px 1px 15px black;
  border-radius: 5px;
	overflow: hidden;
}

.list:first-child {
  margin-left: 30px;
}

.list-header {
  height: 54px;
  padding: 10px;
	background: #f0f0f0;
}

.list-content {
  overflow: auto;
  height: 89%;
	background: white;
}

.outerLink {
  border-bottom: 1px solid lightgrey;
	font-family: arial;
	color: black;
	background: white;
}

.outerLink:hover {
  background: #f0f0f0;
}

.delete {
  width: 20px;
  position: absolute;
  top: 3px;
  right: 3px;
  margin-left: 10px;
}

.delete:hover {
  cursor: pointer;
  width: 22px;
}

.title-text {
  font-weight: bold;
  font-size: 25px;
  max-width: 90%;
  font-family: arial;
  text-align: center;
}

.header-img {
	max-height: 100%;
}

.popup-container {
  width: 300px;
  height: 200px;
}

.popup-icon-container {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.popup-icon {
  height: 40px;
  margin-bottom: 25px;
  padding: 10px;
}

.popup-icon:hover {
  cursor: pointer;
}

.new-feed {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.new-feed-input {
  height: 20px;
  width: 200px;
}

.new-feed-img {

}

.new-feed-img:hover {
  cursor: pointer;
}

.background-button {
  font-size: 20px;
  position: absolute;
  bottom: 5px;
  right: 9px;
  border-radius: 5px;
  height: 53px;
}

.background-button:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px black;
}

.modal-outer-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  z-index: 1000;
  background: white;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 1px 1px 15px black;
}

.modal-image-container {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
}

.modal-img {
  height: 150px;
  width: 270px;
  margin: 50px;
}

.modal-img:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px black;
}

.exit-modal {
  position: absolute;
  right: 5;
  right: 5px;
  top: 5px;
  height: 30px;
}

.exit-modal:hover {
  cursor: pointer;
  height: 32px;
}

.custom-image-input {
  height: 30px;
  width: 300px;
  margin-left: 9px;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 18px;
}

.custom-image-button:hover {
  cursor: pointer;
}

.background-input {
  display: flex;
  justify-content: flex-start;
  margin-left: 44px;
  padding-bottom: 20px;
  align-items: center;
}

.info-container {
  position: relative;
  border: 1px solid black;
  margin-right: 30px;
  margin-left: 30px;
  min-width: 300px;
  width: 300px;
  height: 90vh;
  box-shadow: 1px 1px 15px black;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-icon {
  max-height: 150px;
  margin: 20px;
  margin-left: 58px;
}

.weather-info-list {
  display: flex;
  font-size: 15px;
  border: 1px solid black;
  width: 267px;
  border-radius: 5px;
  margin-bottom: 10px;
  background: #f0f0f0;
}

.weather-info-list li {
  align-items: center;
  text-align: center;
  border-right: 1px solid black;
  width: 45px;
  display: flex;
  font-family: arial;
}

.weather-info-list li:last-child {
  border-right: none;
}

.note-input {
  width: 267px;
  height: 257px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 20px;
  background: #f0f0f0;
}

.color-picker-icon {
  height: 50px;
  position: absolute;
  bottom: 7px;
  right: 71px;
  border-radius: 30px;
}

.color-picker-icon:hover {
  cursor: pointer;
  box-shadow: 1px 1px 15px black;
}

.date {
  margin-top: 15px;
  font-size: 31px;
  font-family: arial;
  background: #f0f0f0;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  width: 257px;
}